ui colorscheme {
	active     = 0x{color1}
	background = 0x{bg_color}
	conflict   = 0x{color2}
	first      = 0x{color3}
	foreground = 0x{fg_color}
	grouped    = 0x{color4}
	insert     = 0x{color5}
	selected   = 0x{color6}
}
