/* Import my colorscheme */
@import url("/home/mou/tmp/cache/thm/gtk.css");

/* General bar settings */
* {
  border: 6px;
  font-family: monospace;
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  background-color: @bg-color;
  color: @fg-color;
}

#custom-randomtext, #custom-loadaverage, #memory, #custom-ds4-battery, #pulseaudio, #clock, #tray {
  padding: 2px 2px;
  margin: 2px 2px;
}

/* Random Text */
#custom-randomtext {
  color: @color1;
}

/* Volume Status */
#pulseaudio {
  color: @color5;
}

/* Battery */
#battery {
  color: @color2;
}

#battery.med {
  color: @color3;
}

#battery.low {
  color: @color1;
}

#battery.dead {
  color: @color8;
}

/* Date & Time */
#clock {
  color: @color6;
}
