/* Import my colorscheme */
@import url("/home/mou/.app/cache/thm/gtk.css");

* {
  font-family: monospace;
  font-size: 14px;
  margin: 0px 3px 0px 2px;
}

window#waybar {
  border-style: solid;
  border-width: 0px 4px 0px 0px;
}

.modules-left {
  margin-top: 6px;
}

.modules-right {
  margin-bottom: 6px;
}

.modules-left > * > *, .modules-right > * > * {
  padding: 6px 0px;
}

.modules-left > widget:first-child > *{
  padding-top: 0px;
}

.modules-right > widget:last-child > * {
  padding-bottom: 0px;
}

#custom-randomtext {
  font-weight: 600;
}

/*
* {
  border: 6px;
  font-family: monospace;
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  background-color: @bg-color;
  color: @fg-color;
}

#custom-randomtext, #custom-loadaverage, #memory, #custom-ds4-battery, #pulseaudio, #clock, #tray {
  padding: 2px 2px;
  margin: 2px 2px;
}

#custom-randomtext {
  color: @color1;
}

#pulseaudio {
  color: @color5;
}

#battery {
  color: @color2;
}

#battery.med {
  color: @color3;
}

#battery.low {
  color: @color1;
}

#battery.dead {
  color: @color8;
}

#clock {
  color: @color6;
}
*/
